body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#target{
    width: 98%;
    padding: 10px;
}
button {
    background-color: #28a745;
    color: white;
    font-size: 12px;
    cursor: pointer;
    width: 10%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}

#results {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 4px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#targetDiv2 {
    display: none;
}
.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.side-panel.open {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .side-panel {
        display: none;
    }
}

#toggleSidePanelButton {
    position: fixed;
    top: 5px;
    left: 5px;
    color: black;
    border: none;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent; 
    padding: 10px; 
    border-radius: 5px; 
    width: auto; 
    margin: 0; 
    font-size: 16px; 
}

#toggleSidePanelButton:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}

.side-panel {
    width: 250px; 
    height: 100%; 
    position: fixed; 
    top: 0;
    left: -250px; 
    background-color:rgb(199, 195, 195); 
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease; 
    z-index: 999; 
    color: black;
}

.side-panel.active {
    left: 0; 
}